body{
    background-color: hsl(35, 100%, 90%);
    font-family: sans-serif;
}

h1{
    color: hsl(35, 100%, 30%);
    text-transform: uppercase;
}

p {
    font-size: 2rem;
  }

p.titulo{
    color: hsl(35, 100%, 50%);
}

summary {
    font-size: 4rem;
  }

span.violeta {
    background-color: hsl(325, 100%, 90%);
  }
span.blanco {
    background-color: white;
  }